body{
    
    background-color: #ccc;
} 

.ctanext{
    background-color: white;
    height: 400px;
    max-width: 400px;
    border-radius: 38px;
    padding: 50px 0px;
    margin: 50px 0px;
    box-shadow: 10px 8px 5px 2px rgba(0, 0, 0, 0.1);
}

.texts h2{
    color:  #0056b3;
    margin: 5px 5px;
    font-size: 50px;
}

.underline{
    width: 151px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}

.cta{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    align-items: center;
}

.input{
    width: 350px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 38px;
}

.input svg{
    margin: 0px 30px;
    height: 30px;
    width: 30px;
}

.input input{
    height: 30px;
    width: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 19px;
    padding-right: 20px;
}

.forgot-password { 
    color: black;
    font-size: 16px;
    margin-top: 27px;
    text-align: center;
}

.lin{ 
    color: #0056b3;
}
.lin:hover{
    color: #28a745;
    cursor: pointer;
    font-weight: bold;
}

.inscription:hover{
    color: #28a745;
    cursor: pointer;
    font-weight: bold;
}

.inscription{
    color: #0056b3;
    font-size: 18px;
}
  
.submits:hover{
    background-color:#28a745;
}

.submits{
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border-radius: 38px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid ;
    text-decoration: none;
    width: 160px;
    height: 40px;
}

/*Message d'erreur lors de l'enrégistrement d'un user"*/
.error-message {
    color: red;
    font-size: 0.875rem; /* Taille de police adaptée */
    margin-top: 5px; /* Marge pour séparer du champ de saisie */
  }

.alert-warning{
    color: red;
    font-size: 18px; /* Taille de police adaptée */
    margin: 50px; /* Marge pour séparer du formulaire */
}